.site-footer{
    background-color: #333333;
    color: #ffffff;
}

.footer-content{
    max-width: 1360px;
    margin: 0 auto;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
}

.footer-right{
    display: flex;
    flex-direction: column;
    gap: 3.125rem;
}

.footer-nav ul{
    display: flex;
    gap: 1.25rem;
}

.footer-nav ul ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-nav strong{
    color: #EDEDED;
    font-size: 1.25rem;
    font-weight: 400;
    margin-bottom: 1rem;
    display: block;
}

.footer-nav li a{
    color: #ffffff;
}

.footer-nav li a:hover{
    text-decoration: underline;
}

.newsletter-form{
    display: flex;
    flex-direction: column;
}

.newsletter-form input{
    border-radius: 1.875rem;
    color: #aaaaaa;
    padding: 0.75rem 1.25rem;
    width: 344px;
    border: none;
}

.footer-social span{
    display: block;
    margin-bottom: 1rem;
}

.footer-social ul li a{
    padding: 0.375rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.footer-social ul li a:hover img{
    opacity: 0.7;
}

.footer-social ul li a:hover{
    border-color: rgba(255, 255, 255, 0.7);
}

.footer-social ul img{
    width: 1rem;
    height: 1rem;
}

.footer-social ul{
    display: flex;
    gap: 1.25rem;
}

.footer-copy{
    font-size: 1.25rem;
    text-align: center;
    padding: 1.25rem 0;
    border-top: 1px solid #ffffff;
}